<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152386388199-1skta60ukl4h4gl8q120m7olde9nkqc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152386388199-1skta60ukl4h4gl8q120m7olde9nkqc5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152386388199-8md14ep7092ul9h4ce5c85q1ap4i6qsn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Kf97_tl9zzlkRVduNvp64id5vdBoRGc</string>
	<key>GCM_SENDER_ID</key>
	<string>152386388199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coreloopstudio</string>
	<key>PROJECT_ID</key>
	<string>unity-ludo-login</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-ludo-login.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152386388199:ios:344be513082b3979476242</string>
</dict>
</plist>